{% extends 'base.html' %}
{% load static %}

{% block body_lines %}
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">About Us</span>
          <h1 class="text-capitalize mb-4 text-lg">Our Company</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item text-white-50">About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">What we are</span>
					<h2 class="mt-3 mb-4 position-relative content-title">We are dynamic team of creative people</h2>
					<p class="mb-5">We provide consulting services in the area of IFRS and management reporting, helping companies to reach their highest level. We optimize business processes, making them easier.</p>

					<a href="contact.html" class="btn btn-main btn-round-full">Get started</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item-img">
					<img loading="lazy" src="{% static 'images/logo.jpg' %}" alt="about-image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
 
<section class="about-info section pt-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Our Mission</h3>
					<p>Our Mission is to be a World class manufacturer of Garments, producing high quality garments at competitive prices using a skilled workforce, superior raw material and complying with social standards.</p>
				</div>		
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="about-info-item mb-4 mb-lg-0">
					<h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Vission</h3>
					<p>Uneekhub by Narayan's seeks to achieve the objectives set out by the most economical way of using its availble resources, whhilst meeting the company obligation to the environment in which it operates.</p>
				</div>		
			</div>
		</div>
	</div>
</section>

<!--  Section Services Start -->
<section class="section team" style="background-color: rgb(141 148 185 / 25%);">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Our Team</span>
					<h2 class="mt-3 content-title">Expert Team member to get best service</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="{% static 'images/team/team-1.jpg' %}" alt="team" class="img-fluid" style="height:18rem; width:18rem; border: 2px solid black; border-radius: 8px; box-shadow: 7px 7px 2px grey">   
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Shri Satish Chandra Srivastava</h4>
						<p>Chief financial Advisor</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="{% static 'images/team/team-2.jpg' %}" alt="team" class="img-fluid" style="height:18rem; width:18rem; border: 2px solid black; border-radius: 8px; box-shadow: 7px 7px 2px grey">   
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Shri Ravish Chandra Srivastava</h4>
						<p>Chief financial Advisor</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="{% static 'images/team/team-3.jpg' %}" alt="team" class="img-fluid" style="height:18rem; width:18rem; border: 2px solid black; border-radius: 8px; box-shadow: 7px 7px 2px grey">   
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Shri Naresh Chandra Srivastava</h4>
						<p>Marketing & financial Advisor</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="{% static 'images/team/team-4.jpg' %}" alt="team" class="img-fluid" style="height:18rem; width:18rem; border: 2px solid black; border-radius: 8px; box-shadow: 7px 7px 2px grey">   
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Ankita Srivastava</h4>
						<p>Director</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="team-item-wrap mb-5">
					<div class="team-item position-relative">
						<img loading="lazy" src="{% static 'images/team/team-5.jpg' %}" alt="team" class="img-fluid" style="height:18rem; width:18rem; border: 2px solid black; border-radius: 8px; box-shadow: 7px 7px 2px grey">   
					</div>
					<div class="team-item-content">
						<h4 class="mt-3 mb-0 text-capitalize">Rekha Srivastava</h4>
						<p>Chief Executive Officer/p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
<hr color="black" width="2px">
{% endblock body_lines %}